* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}

aside{
    height: 100%;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 20%;
    background-color: rgb(0, 0, 0);
    border-right: 1px solid rgb(49, 51, 170);
}


div.userinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 340px;

}

img.dogprofileimage{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

p.username{
    color: white;
    padding: 10px;
    font-weight: 100;
    font-size: 28px;
}

a{
    color: white;
    text-decoration: none;
}



ul{
    list-style: none;
}


i{
    padding: 0px 10px;
}

nav.menu{
    display: flex;
    width: 100%;
    height: 100%;
   
}

ul.list-links{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


a.linkmenu{
    font-size: 25px;
}

a.linkmenu:hover{
    color: rgb(44, 44, 44);
}