* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100%; 
    background-color: black;

}

/* Header Dashboard */

header.menu{
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}


div.userinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

img.dogprofileimage{
    height: 100px;
    width: 100px;
    border-radius: 100%;
   
}

p.username{
    font-size: 25px;
    padding: 0px 10px;
    color: rgb(34, 34, 34);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
ul{
    display: flex;
    list-style: none;
}
li{
    padding: 0px 20px;
}


a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    color: rgb(95, 95, 95);
    
}

i{
    padding: 4px;
}

/* end header */

div.formarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(37, 37, 37) ;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

textarea#posttext{
    width: 100%;
    outline: none;
    background-color: rgb(37, 37, 37);
    border: none;
    text-align: center;
    color: whitesmoke;
    resize: none;
    height: 100px;
    font-size: 25px;

}

textarea#posttext:invalid{
    box-shadow: none;
}


button.btn-newpost{
    outline: none;
    background-color: rgb(22, 22, 22);
    color: white;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 10px 0px;
    border-radius: 0px 0px 20px 20px;
}

button.btn-newpost:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    
}

div.count{
    color: rgb(250, 250, 250);
}


.red{
    background-color: rgb(167, 41, 41);
}


.green{
    background-color:rgb(75, 189, 75);
}


div.statusnewpost{
    width: 100%;
    text-align: center;
    color: white;
}


@media (max-width: 767px){

    div.userinfo{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
       
    }
    
    img.dogprofileimage{
        height: 70px;
        width: 70px;
        border-radius: 100%;
       
    }
    
    p.username{
        font-size: 17px;
        padding: 0px 5px;
        color: rgb(34, 34, 34);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
    }

    p.word{
        display: none;
    }

    ul{
        display: flex;
        list-style: none;
    }
    li{
        padding: 0px 25px;
        font-size: 25px;
    }
    
    
    a{
        color: black;
        text-decoration: none;
    }
    
    a:hover{
        color: rgb(95, 95, 95);
        
    }





}
