main.login{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loginbox{
    margin: 30px;
    color: rgba(248, 248, 248, 0.993);
    background-color: rgb(0, 0, 0);
    width: 70%;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.24);


}

div.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img.conversation{
    width: 400px;
    
}


h1.titlelogin{
    text-align: center;
    background-color: rgb(26, 26, 26); 
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px 10px 0px 0px ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form.loginform{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(106, 108, 235);
    
}

div.divinput{
    margin: 14px;
    width: 100%;
    
}

div.divinput > input{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    border-bottom: 1px solid rgb(68, 68, 68);
    width: 100%;
    color: rgb(255, 249, 249);
    outline: none;
    padding: 10px  0px;
}

button.btn-login{
    color:  rgb(86, 98, 209);
    background-color: rgb(49, 49, 49);
    outline: none;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 60%;
}

button.btn-login:hover{
    color: rgb(255, 253, 253);
    background-color: rgb(104, 104, 104);
}

.red{
    background-color: rgb(167, 41, 41);
}


.green{
    background-color:rgb(75, 189, 75);
}

p.status{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 768px){

    div.loginbox{
       width: 100%;
       margin: 30px 0px;
    
    }





}