/* Geral css configs */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: linear-gradient(to right, #232526, #888888); 
   
}

/* end css configs */


/* Header area */

header.headernoauth{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.993);
    align-items: center;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    outline: none;
}

div.brand{
    margin: 0px 20px;
}

a.brandlink{
    text-decoration: none;
    color: rgb(255, 251, 251);
    margin: 0px 30px;
  
}


nav.navauth{
    margin: 0px 40px;
}

a.linkauth{
    margin: 0px 10px;
}





/* End header area */