section.sec-posts-area{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

div.post-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.post-div{
    width: 80%;
    color: rgb(0, 0, 0);
    min-height: 200px;
    background-color: white;
    border-radius: 11px 11px 8px 8px;
    word-wrap: break-word;
    margin: 10px;
}

div.infopost{
    display: flex;
    background-color: rgb(26, 26, 26);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;

}

p.usernamepost{
    color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}

p.postdate{
    color: rgb(90, 90, 90);
}

div.textpostarea{
    padding: 10px;
    text-align: center;
}


@media (max-width: 767px){

    div.post-div{
        width: 95%;
    }





}